In [25]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/qfftbmw36gqeexuztx5gla6t3urpo3')
df.head()

,uid,location_type,fips_code,location_name,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_deaths,new_cases_per_100_000,new_deaths_per_100_000,new_cases_rolling_7_day_avg,new_deaths_rolling_7_day_avg
0,84001001,county,1001.0,Autauga,Alabama,01/22/2020,55200.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,84001001,county,1001.0,Autauga,Alabama,01/23/2020,55200.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,84001001,county,1001.0,Autauga,Alabama,01/24/2020,55200.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,84001001,county,1001.0,Autauga,Alabama,01/25/2020,55200.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,84001001,county,1001.0,Autauga,Alabama,01/26/2020,55200.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [26]:
#dropping fields not needed for analyses to improve efficiency
del df['uid']

In [27]:
#sorting date column to find earliest listed date here
df = df.sort_values(by="date")
df.head()

,location_type,fips_code,location_name,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_deaths,new_cases_per_100_000,new_deaths_per_100_000,new_cases_rolling_7_day_avg,new_deaths_rolling_7_day_avg
0,county,1001.0,Autauga,Alabama,01/22/2020,55200.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
129701,county,20039.0,Decatur,Kansas,01/22/2020,2881.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
211354,county,28155.0,Webster,Mississippi,01/22/2020,9828.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
175890,county,25027.0,Worcester,Massachusetts,01/22/2020,822280.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
141999,county,21001.0,Adair,Kentucky,01/22/2020,19241.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
#using describe function to see if there are any anomalies in the data
df['fips_code'].describe()

count    463606.000000
mean      32135.425355
std       17802.191365
min        1001.000000
25%       19043.000000
50%       30046.000000
75%       47015.000000
max       99999.000000
Name: fips_code, dtype: float64

In [29]:
#The fips code 99999 does not exist. Sorting to see what this is.
df = df.sort_values(by="fips_code", ascending=False)
df.head()

,location_type,fips_code,location_name,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_deaths,new_cases_per_100_000,new_deaths_per_100_000,new_cases_rolling_7_day_avg,new_deaths_rolling_7_day_avg
465035,special_exception,99999.0,NaN,Grand Princess,06/12/2020,NaN,103,NaN,3,NaN,0.0,0.0,NaN,NaN,0.000000,0.000000
464995,special_exception,99999.0,NaN,Grand Princess,05/03/2020,NaN,103,NaN,3,NaN,0.0,0.0,NaN,NaN,0.000000,0.000000
464954,special_exception,99999.0,NaN,Grand Princess,03/23/2020,NaN,28,NaN,1,NaN,-2.0,0.0,NaN,NaN,1.666667,0.142857
465018,special_exception,99999.0,NaN,Grand Princess,05/26/2020,NaN,103,NaN,3,NaN,0.0,0.0,NaN,NaN,0.000000,0.000000
464897,special_exception,99999.0,NaN,Grand Princess,01/26/2020,NaN,0,NaN,0,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [30]:
max_fips = 78030
covid_data = df[(df["fips_code"] <= max_fips)]
covid_data = covid_data.sort_values(by="fips_code", ascending=False)
covid_data.head()

,location_type,fips_code,location_name,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_deaths,new_cases_per_100_000,new_deaths_per_100_000,new_cases_rolling_7_day_avg,new_deaths_rolling_7_day_avg
448718,county,56045.0,Weston,Wyoming,05/28/2020,7100.0,1,14.08,0,0.0,0.0,0.0,0.0,0.0,0.142857,0.0
448712,county,56045.0,Weston,Wyoming,05/22/2020,7100.0,0,0.00,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
448614,county,56045.0,Weston,Wyoming,02/14/2020,7100.0,0,0.00,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
448707,county,56045.0,Weston,Wyoming,05/17/2020,7100.0,0,0.00,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
448612,county,56045.0,Weston,Wyoming,02/12/2020,7100.0,0,0.00,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0

In [31]:
#other dataset does not have the fips code so we will delete it here
del covid_data['fips_code']

In [32]:
#date format is different in pollutant csv so changing format here to match
covid_data['date'] = pd.to_datetime(covid_data['date'])
covid_data.head()

,location_type,location_name,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_deaths,new_cases_per_100_000,new_deaths_per_100_000,new_cases_rolling_7_day_avg,new_deaths_rolling_7_day_avg
448718,county,Weston,Wyoming,2020-05-28,7100.0,1,14.08,0,0.0,0.0,0.0,0.0,0.0,0.142857,0.0
448712,county,Weston,Wyoming,2020-05-22,7100.0,0,0.00,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
448614,county,Weston,Wyoming,2020-02-14,7100.0,0,0.00,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
448707,county,Weston,Wyoming,2020-05-17,7100.0,0,0.00,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0
448612,county,Weston,Wyoming,2020-02-12,7100.0,0,0.00,0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0

In [33]:
#using describe function to see if there are any anomalies in the data
covid_data['total_population'].describe()

count    4.487340e+05
mean     1.029009e+05
std      3.552906e+05
min      7.500000e+01
25%      1.088800e+04
50%      2.571500e+04
75%      6.694400e+04
max      1.009805e+07
Name: total_population, dtype: float64

In [34]:
#using describe function to see if there are any anomalies in the data
covid_data['cumulative_cases_per_100_000'].describe()

count    448734.000000
mean         97.056573
std         340.040410
min           0.000000
25%           0.000000
50%           0.740000
75%          66.560000
max       15230.340000
Name: cumulative_cases_per_100_000, dtype: float64

In [35]:
#converting the df to a csv if we want to merge and create the database in postgres
covid_data.to_csv('./covid_part1.csv')