In [1]:
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np
from sklearn import datasets
import pandas as pd

In [4]:
cv19 = pd.read_csv("covid_part1.csv") 
pol = pd.read_csv("pollutant_data.csv")

In [8]:
c_cv19= cv19[['state', 'location_name','date','total_population', 'cumulative_cases','cumulative_deaths','new_cases',
'new_deaths']]

In [9]:
c_cv19

,state,location_name,date,total_population,cumulative_cases,cumulative_deaths,new_cases,new_deaths
0,Wyoming,Weston,2020-05-28,7100.0,1,0,0.0,0.0
1,Wyoming,Weston,2020-05-22,7100.0,0,0,0.0,0.0
2,Wyoming,Weston,2020-02-14,7100.0,0,0,0.0,0.0
3,Wyoming,Weston,2020-05-17,7100.0,0,0,0.0,0.0
4,Wyoming,Weston,2020-02-12,7100.0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...
448729,Alabama,Autauga,2020-02-23,55200.0,0,0,0.0,0.0
448730,Alabama,Autauga,2020-05-16,55200.0,110,4,7.0,0.0
448731,Alabama,Autauga,2020-04-01,55200.0,8,0,1.0,0.0
448732,Alabama,Autauga,2020-01-30,55200.0,0,0,0.0,0.0
448733,Alabama,Autauga,2020-01-22,55200.0,0,0,NaN,NaN

In [21]:
c_pol = pol.drop('Unnamed: 0',1)

In [33]:
merged_df = c_pol.merge(c_cv19, how='inner', left_on=["State","County","Date"], right_on=["state", "location_name","date"])

In [43]:
cvpo = merged_df.drop(['state','location_name','date'], axis = 1)

In [46]:
cvpo

,County,State,City,Pollutant,Date,total_population,cumulative_cases,cumulative_deaths,new_cases,new_deaths
0,Baldwin,Alabama,Fairhope,9.2,2020-01-22,208107.0,0,0,NaN,NaN
1,Baldwin,Alabama,Fairhope,4.1,2020-01-25,208107.0,0,0,0.0,0.0
2,Baldwin,Alabama,Fairhope,4.8,2020-01-28,208107.0,0,0,0.0,0.0
3,Baldwin,Alabama,Fairhope,7.2,2020-01-31,208107.0,0,0,0.0,0.0
4,Baldwin,Alabama,Fairhope,3.9,2020-02-03,208107.0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
38333,Sweetwater,Wyoming,James Town,4.3,2020-03-27,44117.0,1,0,0.0,0.0
38334,Sweetwater,Wyoming,James Town,3.1,2020-03-29,44117.0,1,0,0.0,0.0
38335,Sweetwater,Wyoming,James Town,3.1,2020-03-29,44117.0,1,0,0.0,0.0
38336,Sweetwater,Wyoming,James Town,2.0,2020-03-30,44117.0,1,0,0.0,0.0
38337,Sweetwater,Wyoming,James Town,2.0,2020-03-30,44117.0,1,0,0.0,0.0

In [47]:
cvpo.dropna()

,County,State,City,Pollutant,Date,total_population,cumulative_cases,cumulative_deaths,new_cases,new_deaths
1,Baldwin,Alabama,Fairhope,4.1,2020-01-25,208107.0,0,0,0.0,0.0
2,Baldwin,Alabama,Fairhope,4.8,2020-01-28,208107.0,0,0,0.0,0.0
3,Baldwin,Alabama,Fairhope,7.2,2020-01-31,208107.0,0,0,0.0,0.0
4,Baldwin,Alabama,Fairhope,3.9,2020-02-03,208107.0,0,0,0.0,0.0
5,Baldwin,Alabama,Fairhope,5.0,2020-02-06,208107.0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
38333,Sweetwater,Wyoming,James Town,4.3,2020-03-27,44117.0,1,0,0.0,0.0
38334,Sweetwater,Wyoming,James Town,3.1,2020-03-29,44117.0,1,0,0.0,0.0
38335,Sweetwater,Wyoming,James Town,3.1,2020-03-29,44117.0,1,0,0.0,0.0
38336,Sweetwater,Wyoming,James Town,2.0,2020-03-30,44117.0,1,0,0.0,0.0
38337,Sweetwater,Wyoming,James Town,2.0,2020-03-30,44117.0,1,0,0.0,0.0

In [48]:
cvpo.to_csv('finalcvpo.csv')